body {
    background-color: azure;
    text-decoration-color: black;
    display:block;
}
h1{
    background-color: rgb(253, 249, 249);
    width: 500pxt;
    height: 40px;
    text-align:center;
  
}
.html1 {
    background-color: rgb(253, 249, 249);
    width: 500pxt;
    height: 40px;
    text-align:center;
   
}
.css1{
    background-color: rgb(253, 249, 249);
    width: 500pxt;
    height: 40px;
    text-align:center;

}
